@import '../../assets/css/mixin';
@import '../../assets/css/variables';

.box-wrap {
  font-size: pxTorem(24);
  color: #2a2a2a;
  margin: pxTorem(20) pxTorem(15);
  width: auto;
  border-radius: pxTorem(6);
  overflow: hidden;
  .stutas-box {
    padding: pxTorem(25) pxTorem(30);
    background: #fff;
    line-height: 1.8;
    .title {
      font-size: pxTorem(26);
    }
    .time {
      color: #a1a5a8;
    }
    &.wuliu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .right {
        font-size: pxTorem(26);
        color: #999999;
        &.color {
          padding-right: pxTorem(5);
          font-size: pxTorem(28);
          color: #bd081c;
        }
      }
    }
  }
  .header-box {
    display: flex;
    align-items: center;
    border-radius: pxTorem(6);
    background: #fff;
    // @include fja(space-between);
    .left-icon {
      padding: 0 pxTorem(24);
      padding-right: pxTorem(16);
    }
    .address-content {
      font-size: pxTorem(28);
      width: 100%;
      overflow: hidden;
      padding-right: pxTorem(36);
      .user-info {
        padding-top: pxTorem(34);
        @include fja(space-between);
        @include fja(space-between);
        color: #2a2a2a;
      }
      .address-text {
        padding-top: pxTorem(12);
        padding-bottom: pxTorem(34);
        color: #a1a5a8;
        overflow: hidden;
        .text {
          /*overflow: hidden;*/
          /*text-overflow: ellipsis;*/
          /*white-space: nowrap;*/
        }
      }
    }
    .right-icon {
      padding-right: pxTorem(10);
    }
  }
  .goods-box {
    background: #fff;
    .header {
      display: flex;
      padding: pxTorem(25) pxTorem(19);
      color: #999;
      margin: 0 pxTorem(15);
      p {
        margin-right: pxTorem(50);
      }
    }
    .goods-list {
      display: flex;
      align-items: center;
      height: pxTorem(125);
      margin: 0 pxTorem(15);
      .goods-head {
        flex-shrink: 0;
        width: pxTorem(50);
        height: pxTorem(50);
        margin: 0 pxTorem(35);
        background: #ccc;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .content {
        width: 100%;
        padding-right: pxTorem(20);
        overflow: hidden;
        .title {
          font-size: pxTorem(26);
        }
        .money {
          margin-top: pxTorem(22);
          font-size: pxTorem(30);
          color: #bd081c;
          float: right;
        }
      }
    }
  }
  .logistics-box {
    background: #fff;
    .log-item {
      display: flex;
      align-items: center;
      width: 100%;
      height: pxTorem(100);
      &:last-child{
        .line {
          display: none;
        }
      }
      .icon-type {
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: pxTorem(85);
        height: pxTorem(100);
        box-sizing: border-box;
        .circle {
          position: relative;
          width: pxTorem(12);
          height: pxTorem(12);
          border-radius: 50%;
          background: #d4d4d4;
          z-index: 2;
        }
        .line {
          position: absolute;
          width: 2px;
          height: 100%;
          background: #d4d4d4;
          top: 50%;
          &.last {
            display: none;
          }
        }
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: pxTorem(15);
        .title {
          font-size: pxTorem(28);
          color: #2c2c2c;
        }
        .time {
          text-align: center;
          line-height: 1.5;
          font-size: pxTorem(24);
          margin-right: pxTorem(14);
        }
      }
      &.active {
        .icon-type {
          .circle {
            width: pxTorem(24);
            height: pxTorem(24);
            border: 1px #cfcfcf solid;
            background: #fff;
            &:after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: pxTorem(12);
              height: pxTorem(12);
              border-radius: 50%;
              background: #bd081c;
            }
          }
        }
        .content {
          color: #bd081c;
          .title {
            color: #bd081c;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 pxTorem(20);
  background: #fff;
  height: pxTorem(120);
  button {
    width: pxTorem(182);
    height: pxTorem(64);
    border: 1px #282828 solid;
    border-radius: pxTorem(8);
    background: #fff;
    color: #282828;
    font-size: pxTorem(28);
    margin-left: pxTorem(15);
    &.look {
      color: #9d9d9d;
      border: 1px #9d9d9d solid;
    }
    &.active {
      color: #bd081c;
      border: 1px #bd081c solid;
    }
  }
}
